<div class="container-fluid">
  <div class="row">
    <h3>What is this?</h3>
    <p>DoctorPricer is a labour of love created to address the problem of finding a GP which fits your budget.</p>
    <p>It's completely non-profit to the point that it's negative profit. It's not funded by or afilliated with any government department.</p>
  </div>
  <div class="row">
    <h3>Where's all the data coming from?</h3>
    <p>In most cases the data comes directly from the websites of PHOs.</p>
    <p>You can see the sources used and freshness of the data at <a href="https://stats.doctorpricer.co.nz" title="DoctorPricer Stats">stats.doctorpricer.co.nz</a>.</p>
  </div>
  <div class="row">
    <h3>Important Information</h3>
    <ul>
      <li>Fees only apply if you're enrolled in the practice's PHO <a title="More info from the Ministry of Health" href="https://www.health.govt.nz/our-work/primary-health-care/about-primary-health-organisations/enrolment-primary-health-organisation"><small>More</small></a></li>
      <li>Fees are for a standard consult with a GP during standard hours</li>
      <li>Some practices may have enrolment restrictions</li>
      <li>Only practices which are currently taking patients are displayed</li>
    </ul>
  </div>
  <div class="row">
    <h3>Contact</h3>
    <p><a href="mailto:doctorpricernz@gmail.com">doctorpricernz@gmail.com</a></p>
  </div>
</div>