<div class="appLink">
  <a href="https://play.google.com/store/apps/details?id=com.ionicframework.doctorpricer918978">
    <img alt="Android app on Google Play"
         src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
  </a>
</div>
<div class="centre-content">
  <h3>Compare fees from over 700 NZ practices.</h2>
  <form name="form" ng-submit="next()" class="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error': form.address.$invalid && form.address.$dirty }" show-errors='{showSuccess: true}'>
      <div class="col-md-8 nopadding">
        <label class="sr-only" for="address">Address</label>
        <input name="address" ng-model-options="{ debounce: 250 }" type="text" class="form-control input-lg" ng-model="autocomplete" options="options" details="details" placeholder="{{addressPlaceholder}}" address-validation required ng-autocomplete></input>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.age.$invalid  && form.age.$dirty}" show-errors='{showSuccess: true}'>
      <div class="col-md-2 nopadding">
        <label class="sr-only" for="age">Age</label>
        <input name="age" min="0" type="number" class="form-control input-lg" ng-model="age" placeholder="Age" required></input>
      </div>
    </div>
    <div class="col-md-2 nopadding">
    <loading-button btn-size="btn-lg"></loading-button>
    </div>
  </form>
</div>